<dialog class="modal">
  <p>The 8 Ball says...</p>
  <h3><i>{{answer}}</i></h3>
  <form method="dialog">
    <button>Close</button>
  </form>
</dialog>
<script>
  document.querySelector("dialog").showModal();
</script>
