<html lang="en">
  <head>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
      integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
      crossorigin="anonymous"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body { font-size: 18px; } 
      .container { margin: 1rem auto; max-width: 36rem; padding: 1rem; }
      .warning {
        color: red;
      }
      .pure-menu-item {
        height: auto;
      
      }

    
    </style>

  </head>
  <body >
    <main class="container">
      <h1>HTMX, Fastify and Handlebars Examples</h1>
      <p>Below are a number of examples for Fastify and HTMX.  <br>You can find a public repo of the code here -> <a target="_blank" href="https://github.com/dgavey/fastify-htmx-demos">https://github.com/dgavey/fastify-htmx-demos</a> </p>
      
     
      <div class="pure-menu custom-restricted-width">
      <ul class="pure-menu-list">
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="/forms">Signup Form</a>
        </li>
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="/search">Typeahead search</a>
        </li>
        <li class="pure-menu-item">
          <a class="pure-menu-link"href="/table">Table Pagination</a>
        </li>
         <li class="pure-menu-item">
          <a class="pure-menu-link"href="/target">HX-target</a>
        </li>
         <li class="pure-menu-item">
          <a class="pure-menu-link"href="/poller">Poller using trigger</a>
        </li>
         <li class="pure-menu-item">
          <a class="pure-menu-link"href="/mixed">HTMX and Javascript</a>
        </li>
        <li class="pure-menu-item">
          <a class="pure-menu-link"href="/lit">Loading a Lit Web Component</a>
        </li>
         <li class="pure-menu-item">
          <a class="pure-menu-link"href="/8ball">Magic 8 Ball Modal</a>
        </li>
      </ul>
      </div>

  </body>
</html>