<html lang="en">
  <head>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
      integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
      crossorigin="anonymous"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body { font-size: 18px; } 
      .container { margin: 1rem auto; max-width: 36rem; padding: 1rem;}
      .warning {
        color: red;
      }
    </style>
  </head>
  <body hx-boost="true">
    <main class="container" >
     <h1>Sign up successful! </h1>
     <h3>
      (No emails were stored in this process)
      </h3>
      <a href="/">Go back Home</a>
  </body>
</html>