<html lang="en">
  <head>
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
      integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
      crossorigin="anonymous"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body { font-size: 18px; } 
      .container { margin: 1rem auto; max-width: 36rem; }
      .warning {
        color: red;
      }
      .greenText {
        color: green;
      }
    </style>
  </head>
  <body>
    <main class="container" >
      <div id="response-div">
        <h1>Server status unknown</h1>
      </div>
      <button hx-post="/target" hx-target="#response-div" hx-swap="innerHTML">
          Check Server Status
      </button>
    </main>
  </body>
</html>


